<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Book</title>
</head>
<body>
<table class="header">
    <tr>
        <td><a th:href="@{/home}">Home</a></td>
        <td><a th:href="@{/about}">About</a></td>
        <td><a th:href="@{/books}">Books</a></td>
        <td><a th:href="@{/addBook}">AddBook</a></td>
        <td><a th:href="@{/randomBook}">RandomBook</a>
        <td><a th:href="@{/addUser}">AddUser</a></td>
        <td><a th:href="@{/randomUser}">RandomUser</a></td>
    </tr>
</table>
<p th:text="${randomBook.getBookTitle()}">Title</p>
<p th:text="${randomBook.getAuthor()}">Author</p>

</body>
</html>