<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table class="header">
    <tr>
        <td><a th:href="@{/home}">Home</a></td>
        <td><a th:href="@{/about}">About</a></td>
        <td><a th:href="@{/books}">Books</a></td>
        <td><a th:href="@{/addBook}">AddBook</a></td>
        <td><a th:href="@{/randomBook}">RandomBook</a></td>
        <td><a th:href="@{/addUser}">AddUser</a></td>
        <td><a th:href="@{/randomUser}">RandomUser</a></td>
        <td><a th:href="@{/users}">Users</a></td>
    </tr>
</table>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Id</th>

    </tr>
    </thead>
    <tr th:each="user : ${users}">

        <td th:text="${user.getUserName()}"></td>
        <td th:text="${user.getId()}"></td>

    </tr>


</table>
</body>
</html>